@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Engineering 26 have designed this Web App to be used by Sparta Global or any other similarly structured organisation as part of thier final year project.</p>
