@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enginerring26</h1>
    <p class="lead">Course Managment System v1.0</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Project Repository &raquo;</a></p>
</div>

<div class="col-md-2">
</div>
<div class="row">
    <div class="col-md-8">
        <h2>What is it?</h2>
        <p>
            This project managment system can be used to:
            -register students
            -modify course information
            -access a database
            -securily store information
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-2">
    </div>
</div>