@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="lead">User Management System</h1>
    @*<p class="lead">Course Managment System v1.0</p>*@
    
</div>

<div class="col-md-2">
</div>
<div class="row">
    <div class="col-md-8">
        <h2>What is it?</h2>
        <p>
            This project management system can be used to:
            -register students
            -modify course information
            -access a database
            -securely store information
        </p>
        
    </div>
    
    <div class="col-md-2">
    </div>
</div>