@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sparta Global</h1>
    <p class="lead">Sparta Global is a leading provider of technology and business Consulting Services providing cross functional teams to power short and long-term projects with relevant skills - within Government and Private Sector organisations: fintech, insurance, media, retail, legal, travel, property, technology, start-ups - for over a hundred organisations throughout the UK.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            As part of our talent pool, we invest in recruiting high-calibre graduates and build them into high-performing consultants through our intensive training Bootcamps within our nationwide Sparta Global Academies in the areas of Software Development, Manual Testing, Automated Testing, DevOps, Project Management, Business Analysis, and SDET.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Sparta Academy</h2>
        <p>The Sparta Academy is a fast paced and rewarding initiation into a specialist and lucrative career in the IT industry. We encourage graduates to come on board with us to develop a stimulating career in IT through a structured training programme and job placement.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Intensive BootCamp</h2>
        <p>Encompassing modules common to all at the beginning, followed by technical training in one of our four key areas; Software Testing, Software Development & Engineering in Test, Software Development, Business Analysis and Project Management.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>