<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops!</h1>
        <h2>Sorry you do not have the authority to access this page.</h2>
    </hgroup>
    @Html.ActionLink("Go back to details","Details","Login", new { id = Session["ID"] },null)
</body>
</html>
